{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Garritas Felinas</title>
    <link rel="icon" type="img/png" href="{% static 'gato-icono.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
        @layer utilities {
          body {
            font-family: 'Be Vietnam Pro', sans-serif;
            background: black;
          }

          .hv1 {
            transition: .4s;
          }

          .hv1:hover {
            text-decoration: overline #f97316 ;
            transform: scale(1.15);
          }

          .hv2 {
            transition: .4s;
          }

          .hv2:hover {
            transform: scale(1.03);
          }

          body b {
            color: #f97316;
          }
        }
      </style>
  </head>
  <body>

    <footer class="bg-black justify-between flex">
        <a href="/store"><img src="{% static 'gato-icono.png' %}" alt="" class="cursor-pointer mt-6 ml-28 hv1 min-[320px]:mr-10 max-[600px]"></a>
        {% if request.user.is_authenticated %}
        <h4 class="text-white mt-6 text-lg">{{ user.username}}, <b class="text-orange-500">Welcome</b></h4>
        {% endif %}


        <div class="mb-4">
          <a href="mailto:julianalzatemonsalve@gmail.com" target="_blank" class="inline-block text-sm leading-none mt-4 mr-2 lg:mt-0 hv1"><img src="{% static 'gmail.png' %}" alt="" class="cursor-pointer"></a>
          <a href="https://instagram.com/michi_adelle?igshid=MzMyNGUyNmU2YQ==" target="_blank" class="inline-block text-sm leading-none mr-2 lg:mt-0 hv1"><img src="{% static 'instagram.png' %}" alt="" class="cursor-pointer"></a>
          <a href="https://wa.me/3002926420" target="_blank"  class="inline-block text-sm leading-none mr-10 lg:mt-0 hv1"><img src="{% static 'whatsapp.png' %}" alt="" class="cursor-pointer"></a>
        </div>
    </footer>

    <nav class="flex items-center justify-between flex-wrap bg-stone-900  mx-auto">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <svg class="fill-current h-8 w-8 mr-2 ml-10 cursor-pointer hover:text-orange-500" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
          <span class="font-semibold text-xl tracking-tight cursor-pointer hover:text-orange-500">Tailwind CSS<span>
        </div>
        <div class="block lg:hidden">
          <button id='boton' class="flex items-center px-3 py-2 border rounded text-orange-500 border-orange-500 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
        <div id='menu' class="w-full block flex-grow lg:flex lg:items-center lg:w-auto text-center mb-4">
          <div class="text-md lg:flex-grow justify-evenly ">
            <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-white mr-4 hv1">Home</a>
            <a href="/store" class="block mt-4 lg:inline-block lg:mt-0  text-white mr-4 hv1">Store</a>
            <a href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-white mr-4 hv1">About Us</a>
            <a href="/adopt" class="block mt-4 lg:inline-block lg:mt-0 text-white mr-4 hv1">Adopt</a>
          </div>
          <div class="mr-10 mb-2 mt-8 align-middle">
            <a href="/register" class="block  lg:inline-block mr-4 hv1"><img src="{% static 'registro.png' %}" alt=""></a>
            {% if request.user.is_authenticated %}
                  <a href="{% url 'exit' %}" class="block lg:inline-block  mr-4 hv1"><img src="{% static 'salida.png' %}" alt=""></a>
              {% else %}
                  <a href="{% url 'login' %}" class="block lg:inline-block  mr-4 hv1"><img src="{% static 'usuario.png' %}" alt=""></a>
          {% endif %}
          </div>
          
        </div>
      </nav>
    {% block content %}
    {% endblock %}





      <footer class="flex justify-center mt-20 text-white cursor-pointer ">
        <a href="/" class="hover:text-orange-500">Home</a>
        <a href="/store" class="ml-4 hover:text-orange-500">Store</a>
        <a href="/about" class="ml-4 hover:text-orange-500">About Us</a>
        <a href="/adopt" class="ml-4 hover:text-orange-500">Adopt</a>
       
        
      </footer>

      <a href="/store"><img src="{% static 'gato-icono.png' %}" alt="" class="cursor-pointer text-center mx-auto mt-10 hv1"></a>
      
      
    
    <script src="{% static 'app.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>